<div class="flex items-center justify-between"> 
   <div class="container"> 
    <h1>Parking Map Area 2</h1> 
    <p>Please select a Parking Lot Area</p> 
    <p>Area A - (Student Rec. Center Parking Lots) </p> 
    <p>Area B - (Javelina Stadium Parking Lots) </p>
    <p>Area C - (Pharmacy School Parking Lots) </p>
    <p>Area D - (Steinke Physical Education Center Parking Lots) </p>
    <p>Area E - (Jernigan Library Parking Lots) </p>
    <p>Area F - (Engineering Buildings Parking Lots) </p>
    <p>Area G - (Armstrong St. Parking Lots) </p>

    <button class="w-full py-4 text-xl font-bold bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-700 transition-all">Area A</button> 
    <button class="w-full py-4 text-xl font-bold bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-700 transition-all">Area B</button> 
    <button class="w-full py-4 text-xl font-bold bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-700 transition-all">Area C</button> 
    <button onclick="window.location.href='http://127.0.0.1:5502/smart-parking-frontend/src/app/parkingmap2d/parking-map2d.component.html'"
    class="w-full py-4 text-xl font-bold bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-700 transition-all">Area D</button> 
    <button class="w-full py-4 text-xl font-bold bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-700 transition-all">Area E</button> 
    <button class="w-full py-4 text-xl font-bold bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-700 transition-all">Area F</button> 
    <button class="w-full py-4 text-xl font-bold bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-700 transition-all">Area G</button> 
    <button onclick="window.location.href='http://127.0.0.1:5502/smart-parking-frontend/src/app/parking-map/parking-map.component.html'"
    class="w-full py-4 text-xl font-bold bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-700 transition-all">Go Back</button> 
  </div> 
  <img src="../../assets/tamukparkingmap2.jpg" alt="Parking Map" class="w-1/3 h-auto rounded-lg shadow-lg" width = "600" height = "600"> </div>
