<nav>
  <a routerLink="/login">Login</a> |
  <a routerLink="/employee-menu">Employee Menu</a> |
  <a routerLink="/clearance-check">Clearance Check</a> |
  <a routerLink="/parking-history">Parking History</a> |
  <a routerLink="/dashboard">Security Dashboard</a> |
  <a routerLink="/livefootage">Live Footage</a> |
  <a routerLink="/register-vehicle">Register Vehicle</a> |
  <a routerLink="/parking-map">Parking Map</a> |
  <a routerLink="/security-dashboard">Student Menu</a> |
  <a routerLink="/vehicle-registration">Vehicle Registration</a> |
  <a routerLink="/student-menu">Student Menu</a> |
  <a routerLink="/employeelogin">Student Menu</a> |
  <a routerLink="/accountregistration">Account Registration</a> |
  <a routerLink="/parking-map2">Parking Map 2</a> |
  <a routerLink="/parkingmap2d">Parking Map 2D</a> |
  <a routerLink="/parkingmap2df">Parking Map 2DF</a> |
  <a routerLink="/student-profile">Student Profile</a> |
  <a routerLink="/update-phonenumber">Update Phone Number</a> |
  <a routerLink="/update-vehicleregistration">Update Vehicle Registration</a> |
  <a routerLink="/">Home</a>  <!-- Added "Home" for the root path -->
</nav>

<router-outlet></router-outlet>
